*.lo
*.o
.deps
.dirstamp
Makefile
Makefile.in
compile
.libs
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/python/build
/python/dist
/python/libvoikko.egg-info
/legacy/cpp-src/libvoikko.la
/legacy/cpp-src/libvoikko.pc
/legacy/cpp-src/tools/voikkogc
/legacy/cpp-src/tools/voikkohyphenate
/legacy/cpp-src/tools/voikkospell
/legacy/cpp-src/tools/voikkovfstc
/stamp-h1
/legacy/cpp-test/*.log
/legacy/cpp-test/*.trs
/java/*.asc
/js/node_modules
/js/dist
/js/wasm/*.mjs
/js/wasm/*.wasm
/js/wasm/*.data
/js/wasm/*.js
/js/wasm/*.d.ts
/js/dict/
/js/pnpm-lock.yaml
